.base-layout-nav {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .ant-collapse {
    background-color: transparent;
    border: none;
  }
  .ant-collapse-item {
    border-bottom: none;
  }
  .ant-collapse-header {
    flex-direction: row-reverse;

    .ant-collapse-expand-icon {
      padding-right: 0 !important;
      color:  #999;
    }
  }
  .ant-collapse-content {
    border-top: none;
    background-color: transparent;
    .ant-collapse-content-box {
      padding: 0;
    }
  }

  .base-layout-nav__item {
    cursor: pointer;
    padding: 0 18px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }

    &--active {
      background-color: #e3f2fd;
      
      &:hover {
        background-color: #bbdefb;
      }

      .base-layout-nav__item-main {
        .title {
          color: #1976d2;
          font-weight: 500;
        }
      }
    }

    & + .base-layout-nav__item {
      margin-top: 12px;
    }

    &-main {
      flex: 1;
      min-width: 0;

      .time {
        color: #999;
        font-size: 10px;
      }

      .title {
        font-size: 14px;
        color: #333;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &-actions {
      display: flex;
      align-items: center;
    }
  }
}
